.btnDefault {
    display: inline-block;
    border: none;
    text-align: center;
    color: #3F3F3F;
    font-size: 14px;
    font-weight: 500;
    padding-left: 16px;
    padding-right: 16px;
    padding-bottom: 8px;
    padding-top: 8px;
    margin-bottom: 1rem;
    margin-left: 2rem;
}


.btnHover:hover {
    background: #AEAEAE;
}


.btnOutline {
    color: blue;
}